<!--=============== ABOUT ===============-->
        <section class="about section" id="about">
            <span class="section__subtitle">My Intro</span>
            <h2 class="section__title">About Me</h2>
            
            <div class="about__container container grid">
                <img src="assets/img/aku.jpg" alt="" class="about__img">

                <div class="about__data">
                    <div class="about__info">
                        <div class="about__box">
                            <i class='bx bx-award about__icon'></i>
                            <h3 class="about__title">Experience</h3>
                            <span class="about__subtitle">3 Years</span>
                        </div>
                        <div class="about__box">
                            <i class='bx bx-briefcase-alt about__icon'></i>
                            <h3 class="about__title">Completed</h3>
                            <span class="about__subtitle">19 + Projects</span>
                        </div>
                        <div class="about__box">
                            <i class='bx bx-support about__icon'></i>
                            <h3 class="about__title">Support</h3>
                            <span class="about__subtitle">Online 24/7</span>
                        </div>
                    </div>

                    <p class="about__description">
                        I am a Full Stack Web Developer who is used to building web applications 
                        from both the backend and frontend. For the backend, I use PHP with 
                        Laravel and Node.js with Express to build efficient, structured and easy to develop systems, 
                        including API integration and database management. On the frontend, I use JavaScript, React and Tailwind 
                        CSS to build responsive, modern and interactive interfaces.
                    </p>

                    <a href="#contact" class="button">Contact Me</a>
                </div>
            </div>
        </section>